<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>残疾人登记表</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../lib/light7/light7.min.css">
    <link rel="stylesheet" href="../lib/light7/light7-swiper.min.css">

    <link rel="stylesheet" href="../lib/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/common/common.css">
    <!--<link rel="stylesheet" href="../css/wirte1.css">-->
    	<style type="text/css">
    		.item-after{
    		border: 1px solid #3AB54A;
    		border-radius: 0.3rem;
    		
    	}
    	.w_isActive{
    		background-color: #edfdf4!important;
    	}
    	.item-after>select,
    	.item-after>textarea,
    	.item-after>input{
    		
    		padding-left: 0.4rem;
    	}
    	.pic span{
    		margin-left: 0.4rem;
    		background-color: #dcfae1;
    		padding:0.2rem 0.4rem;
    		border-radius: 0.3rem;
    		font-size: 0.7rem;
    		color: #000;
    	}
    	.photo,
    	.addPic{
    		display:inline-block;
    		font-size: 3rem; 
    		line-height: 4.4rem;
    		height:5rem;
    		width: 5rem;
    		border: 1px solid #3AB54A;
    		text-align: center;
    		border-radius: 0.2rem;
    		margin-left: 0.4rem;
    	}
    	.photo{
    		position: relative;
    	}
    	.imgUrl{
    		width: 4.8rem;
    		height: 4.8rem;
    	}
    	.allPic{
    		height: 4.4rem; 
    		text-align: left;
    		padding: 0;
    		margin: 0;
    		padding-top: 0.2rem;
    		vertical-align: middle;
    		display: flex;
    		align-items: center;
    	}
    	.delatedPic{
    		width: 1.3rem;
    		height: 1.3rem;
    		background-color: red;
    		font-size: 1.4rem;
    		color: #fff;
    		position: absolute;
    		top: 3.4rem;
    		left: 3.4rem;
    		font-style: normal;
    		vertical-align: middle;
    		border-radius: 50%;
    		line-height: 1.3rem;
    		text-align: center;
    		/*z-index: 2;*/
    	}
    	.imgD_n{
    		display: none;
    	}
    	  .dImg{
  	width: 100%;
  	height: 100%;
  	display: inline-block;
  	position: fixed;
  	top:0;
  	left:0;
  	z-index: 66666;
  }
    	</style>
</head>
<body>
<div class="page d-n"></div>
<div id="write6">
    <div class="h-title">残疾人登记表</div>
    <div class="h-sub-title">
        <div class="h-ti-cut"></div>
        <span> 无障碍、文化体育、附属信息（6/7）</span>
    </div>
    <div class="h-grey"></div>
    <table class="l-r-table">
        <!--7-->
        <tr v-if="isWelfareHouse == 2 && from != 1 && statusInput != 0">
            <td class="item-title" v-bind:class="{ redWord: !R38check}"><div class="redPoint" v-if="ifR38p"></div><a href="javascript:;" data-code="R38" class="tips"><i class="fa fa-question-circle" aria-hidden="true"></i></a> R38.动态更新年度内你家是否进行过无障碍改造</td>
        </tr>
        <tr v-if="isWelfareHouse == 2 && from != 1 && statusInput != 0">
            <td class="t-r item-after h-bb">
                <input type="text" placeholder="请选择" id="barrierFreeModification">
                <input type="hidden" placeholder="" v-model="barrierFreeModification">
            </td>
        </tr>
        <tr v-if="isWelfareHouse == 2 && from != 1 && statusInput != 0">
            <td class="item-title" v-bind:class="{ redWord: !R39check}"><div class="redPoint" v-if="ifR39p"></div><a href="javascript:;" data-code="R39" class="tips"><i class="fa fa-question-circle" aria-hidden="true"></i></a> R39.目前你家有哪些无障碍改造需求</td>
        </tr>
        <tr v-if="isWelfareHouse == 2 && from != 1 && statusInput != 0">
            <td class="t-r item-after h-bb">
                <!--<input type="text" placeholder="1-8项可多选" id="barrierFreeModificationNeeds" readonly v-on:click="openShowR39" v-model="R39input">-->
                <textarea placeholder="1-8项可多选" id="barrierFreeModificationNeeds" readonly v-on:click="openShowR39"  v-model="R39input"></textarea>
            </td>
        </tr>
        <!--8-->
        <tr v-if="isWelfareHouse == 2 && from != 1 && statusInput != 0">
            <td class="item-title" v-bind:class="{ redWord: !R40check}"><div class="redPoint" v-if="ifR40p"></div><a href="javascript:;" data-code="R40" class="tips"><i class="fa fa-question-circle" aria-hidden="true"></i></a> R40.动态更新年度内是否经常参加村（社区）组织的文化体育活动</td>
        </tr>
        <tr v-if="isWelfareHouse == 2 && from != 1 && statusInput != 0">
            <td class="t-r item-after h-bb">
                <input type="text" placeholder="请选择" id="jionCultureSports">
                <input type="hidden" placeholder="" v-model="jionCultureSports">
            </td>

        </tr>
        <tr v-if="isSR41 && isWelfareHouse == 2 && from != 1 && statusInput != 0">
            <td class="item-title" v-bind:class="{ redWord: !R41check}"><div class="redPoint" v-if="ifR41p"></div><a href="javascript:;" data-code="R41" class="tips"><i class="fa fa-question-circle" aria-hidden="true"></i></a> R41.不能经常参加村（社区）组织的文化体育活动的原因</td>

        </tr>
        <tr v-if="isSR41 && isWelfareHouse == 2 && from != 1 && statusInput != 0">
            <td class="t-r item-after h-bb">
                <!--<input type="text" placeholder="可多选" id="notJionCultureSportsCause" readonly v-on:click="openShowR41" v-model="R41input">-->
                <textarea placeholder="可多选" id="notJionCultureSportsCause" readonly v-on:click="openShowR41"  v-model="R41input"></textarea>
            </td>
        </tr>
        <!--step9-->
        <tr v-if="isSs1">
            <td class="item-title" v-bind:class="{ redWord: !isS1}"><div class="redPoint" v-if="ift1"></div> 户主姓名</td>
        </tr>
        <tr v-if="isSs1">
            <td class="t-r item-after h-bb">
                <input type="text" placeholder="请输入" id="householdRegisterName" v-model="householdRegisterName">
            </td>

        </tr>
        <tr v-if="isSs2">
            <td class="item-title" v-bind:class="{ redWord: !isS2}"><div class="redPoint" v-if="ift2"></div> 身份证号</td>
        </tr>
        <tr v-if="isSs2">
            <td class="t-r item-after h-bb">
                <input type="text" placeholder="请输入" id="idCard" v-model="idCard">
            </td>

        </tr>
        <tr>
            <td class="item-title" v-bind:class="{ redWord: !isS3}"><div class="redPoint" v-if="ift3"></div> 申报人</td>
        </tr>
        <tr>
            <td class="t-r item-after h-bb">
                <input type="text" placeholder="请输入" id="declarant" v-model="declarant">
            </td>

        </tr>
        <tr>
            <td class="item-title" v-bind:class="{ redWord: !isS4}"><div class="redPoint" v-if="ift4"></div> 信息采集员</td>
        </tr>
        <tr>
            <td class="t-r item-after h-bb">
                <input type="text" placeholder="请输入" id="infoAcquisitionMan" v-model="infoAcquisitionMan">
            </td>

        </tr>
        <tr>
            <td class="item-title" v-bind:class="{ redWord: !isS5}"><div class="redPoint" v-if="ift5"></div> 报出日期</td>
        </tr>
        <tr>
            <td class="t-r item-after h-bb">
                <input type="text" placeholder="请输入" id="submitDate" v-model="submitDate">
            </td>
        </tr>
        <tr>
            <td class="item-title"><div class="redPoint" v-if="ift6"></div> 调查备注</td>
        </tr>
        <tr>
            <td class="t-r item-after h-bb">
                <textarea style="height: 5rem" placeholder="请输入" id="note" v-model="note"></textarea>
            </td>
        </tr>
        <tr>
            <td class="item-title" ><div class="redPoint" v-if="ift6"></div> 相关照片</td>
        </tr>
          <tr>
            <td class="t-r item-after h-bb"style="padding: 0;border: none;">
                <div class="allPic">
                	<span class="photo" v-if="imgUrl1">
                		<img v-bind:src="imgUrl1" class="imgUrl" v-on:click="dPhoto(1)"/>
                		<img v-bind:src="imgUrl1" class="dImg" v-if="dImg1" v-on:click="dPhoto(-1)"/>
                		<i class="delatedPic" v-on:click='delatedPic(1)'>×</i>
                	</span>
                	<span class="photo" v-if="imgUrl2">
                		<img v-bind:src="imgUrl2" class="imgUrl" v-on:click="dPhoto(2)"/>
                		<img v-bind:src="imgUrl2" class="dImg" v-if="dImg2" v-on:click="dPhoto(-2)"/>
                		<i class="delatedPic" v-on:click='delatedPic(2)'>×</i>
                	</span>
                	<span class="photo" v-if="imgUrl3">
                		<img v-bind:src="imgUrl3" class="imgUrl" v-on:click="dPhoto(3)"/>
                		<img v-bind:src="imgUrl3" class="dImg" v-if="dImg3" v-on:click="dPhoto(-3)"/>
                		<i class="delatedPic" v-on:click='delatedPic(3)'>×</i>
                	</span>
                	<span class="addPic" v-on:click='getPic' v-if="!imgUrl1 || !imgUrl2 || !imgUrl3"> + </span>
                </div>
            </td>
        </tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>

    </table>
    <div class="fix-sub">
        <div class="fix-btn" v-bind:class="{ac:isSub}">提交并下一项</div>
    </div>
    <!--目前你家有哪些无障碍改造需求-->
    <div class="pop-win address-pop" v-if="showR39">
        <div class="picker-modal picker-columns  remove-on-close modal-in" style="display: block;">
            <header class="bar bar-nav">
                <button class="button button-link pull-left  close-pop-cancel" v-on:click="closeShowR39(0)">取消</button>
                <button class="button button-link pull-right close-pop-add" v-on:click="closeShowR39(1)">确定</button>
            </header>
            <div style="height: 100%">
                <ul class="d-i ul-1">
                    <li class="check-li" v-for="a in barrierFreeModificationNeedsA" v-bind:class="{ ac: a.isC}" v-on:click="choR39(a,$event)" v-bind:data-id="a.id">{{a.name}}</li>
                </ul>
            </div>
        </div>
    </div>

    <!--不能经常参加村（社区）组织的文化体育活动的原因-->
    <div class="pop-win address-pop" v-if="showR41">
    	
        <div class="picker-modal picker-columns  remove-on-close modal-in" style="display: block;">
            <header class="bar bar-nav">
                <button class="button button-link pull-left  close-pop-cancel" v-on:click="closeShowR41(0)">取消</button>
                <button class="button button-link pull-right close-pop-add" v-on:click="closeShowR41(1)">确定</button>
            </header>
            <div style="height: 100%">
                <ul class="d-i ul-1">
                    <li class="check-li" v-for="a in notJionCultureSportsCauseA" v-on:click="choR41(a,$event)" v-bind:class="{ ac: a.isC }" v-bind:data-id="a.id">{{a.name}}</li>
                </ul>
            </div>
        </div>
    </div>

</div>

<!-- 你的html代码 -->
<script type='text/javascript' src='../lib/jquery-1.9.1.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../lib/vue.js' charset='utf-8'></script>
<script type='text/javascript' src='../lib/light7/light7.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../lib/light7/light7-swiper.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../lib/light7/light7-city-picker.js' charset='utf-8'></script>
<script src="../js/commonCode.js"></script>
<script src="../js/common.js"></script>
<script src="../js/write6.js"></script>
</body>
</html>